@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


    @{
    
    
    AppUser? appUser = await UserManager.GetUserAsync(User);
    
    
    }


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @appUser?.FullName!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link active bg-light text-dark btn btn-lg btn-outline-primary rounded-pill px-3 mx-3 " asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
         <a class="nav-link  text-light btn btn-lg btn-outline-primary rounded-pill px-4" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
<div class="mb-1 text-center">
    <form id="account" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-12 btn-block">
                    <button type="submit" style="width:inherit;height:min-content" class="btn btn-outline-primary rounded-pill me-2 text-light ms-2 px-3" name="demoLoginEmail" value="DemoLoginEmail">Demo Login</button>
                </div>
            </div>
        </div>
    </form>
</div>